.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        width: 70px;
        height: 70px;
        border-radius: 8px;
    }

    p {
        margin: 0;
    }

    small {
        color: #b3b3b3;
    }
}
